In [1]:
import pandas as pd
import numpy as np
import math
import random
from itertools import combinations
import time
import matplotlib.pyplot as plt
import pandas as pd
import openpyxl
from openpyxl.utils.dataframe import dataframe_to_rows

df = pd.read_csv('pjt_data/world_Cup_2022_db_11_18_upd.csv')
df

,rank_Local,rank_Global,team_Name,rating,average_Rank,average_Rating,group_Name,distance(default = from Quatar,Unnamed: 8,Continental,GDP(2022),"Population(2022,per 10,000)",star_Player,1year_Change_Rank,1year_Change_Rating
0,1,1,Brazil,2169,4,1999,group_G,11974.67?km,13.12,America,"8,857","21,399","Gabriel Jesus,Gabriel Martinelli,Vinicius junior",0,20
1,2,2,Argentina,2143,5,1984,group_C,13817.43km,15.14,America,"13,621","4,560",NaN,1,42
2,3,3,Spain,2045,7,1941,group_E,5304.62km,5.81,Europe,"29,198","4,674","Iago aspas,Joselu,Mikel merino,Muniain,Sergio ...",2,8
3,4,4,Netherlands,2040,15,1844,group_A,4848.23km,5.31,Europe,"56,297","1,740",NaN,8,111
4,5,5,Belgium,2025,23,1751,group_F,4844.61km,5.31,Europe,"50,597","1,187","Kevin de Bruyne,Thibaut courtois",-1,-50
5,6,6,France,2005,16,1784,group_D,4889.93?km,5.36,Europe,"42,330","6,542","William Saliba,Karim benzema,Nabil fekir,Nkunk...",-4,-110
6,7,7,Portugal,2004,19,1789,group_H,5688.18?km,6.23,Europe,"24,910","1,016","Joao Cancelo,Andre silva",1,31
7,8,9,Denmark,1971,20,1798,group_D,4785.08km,5.24,Europe,"65,713",581,NaN,1,34
8,9,10,Germany,1963,8,1910,group_E,4477.97km,4.91,Europe,"48,397","8,431","Gnabry,Jonas hofmann,Jonathan burkhardt,Polter",-1,0
9,10,11,Uruguay,1936,12,1878,group_H,12997.55km,14.24,America,"20,017",340,NaN,6,88
10,11,12,Switzerland,1929,27,1684,group_G,4459.48?km,4.89,Europe,"92,434",872,Granit Xhaka,-1,-5
11,12,13,Croatia,1927,13,1876,group_F,3887.92km,4.26,Europe,"17,318",405,NaN,1,69
12,13,14,England,1920,4,1979,group_B,5502.04km,6.03,Europe,"47,317","6,820","Phil Foden,Harry Kane,Kieran Trippier",-8,-112
13,14,16,Serbia,1892,20,1785,group_G,3419.83?km,3.75,Europe,"9,164",881,NaN,2,46
14,15,18,Ecuador,1833,65,1510,group_A,14000.41?km,15.34,America,"6,412","1,751",NaN,-2,-24
15,16,21,Poland,1814,29,1711,group_C,3997.16km,4.38,Europe,"19,023","3,779",Lewandowski,8,44
16,17,22,Mexico,1809,20,1778,group_C,13876.65km,15.21,America,"10,948","13,152",NaN,-3,-33
17,18,23,United States,1798,41,1639,group_B,12255.12km,13.43,America,"75,179","33,600",NaN,-9,-60
18,18,23,Japan,1798,62,1453,group_E,8131.14?km,8.91,Asia,"34,358","12,536",NaN,8,38
19,20,25,Iran,1797,40,1654,group_B,823.28km,0.90,Asia,"23,033","8,530",NaN,-5,-39
20,21,26,Wales,1790,22,1667,group_B,5502.04km,6.03,Europe,"47,317","6,820",NaN,-6,-46
21,22,28,South Korea,1786,35,1687,group_H,7238.82?km,7.93,Asia,"33,591","5,182",NaN,-1,-1
22,23,29,Canada,1765,47,1599,group_F,10708.18km,11.74,America,"56,794","3,839",NaN,-1,-20
23,24,31,Morocco,1753,44,1653,group_F,5669.35km,6.21,Africa,"3,896","1,174",NaN,10,32
24,25,35,Costa Rica,1743,35,1693,group_E,13767.34km,15.09,America,"13,089",522,NaN,24,126
25,26,38,Australia,1719,34,1671,group_D,10501.03km,11.51,Oceania,"66,407","2,603",NaN,-5,-14
26,27,40,Tunisia,1707,52,1603,group_D,4106.61km,4.50,Africa,"3,815","1,227",NaN,12,62
27,28,44,Senegal,1687,56,1588,group_A,6903.5km,7.57,Africa,"1,558","1,722",NaN,-2,-18
28,29,48,Qatar,1680,94,1411,group_A,0km,0.00,Asia,"82,886",279,NaN,5,37
29,30,54,Saudi Arabia,1635,76,1496,group_C,638.24km,0.70,Asia,"27,941","3,650",NaN,-10,-48
30,31,61,Cameroon,1609,52,1605,group_G,4574.46km,5.01,Africa,"1,584","2,434",NaN,0,0
31,32,73,Ghana,1540,43,1656,group_H,5846.27km,6.41,Africa,"2,368","3,173",NaN,-11,-64

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   rank_Local                      32 non-null     int64
 1   rank_Global                     32 non-null     int64
 2   team_Name                       32 non-null     object
 3   rating                          32 non-null     int64
 4   average_Rank                    32 non-null     int64
 5   average_Rating                  32 non-null     int64
 6   group_Name                      32 non-null     object
 7   distance(default = from Quatar  32 non-null     object
 8   Unnamed: 8                      32 non-null     float64
 9   Continental                     32 non-null     object
 10  GDP(2022)                       32 non-null     object
 11  Population(2022,per 10,000)     32 non-null     object
 12  star_Player                     9 non-null      object
 13  1year_Change_Rank               32 non-null     int64
 14  1year_Change_Rating             32 non-null     int64
dtypes: float64(1), int64(7), object(7)
memory usage: 3.9+ KB

In [3]:
def rating_Upd(team_A,team_B,win_Rate_A,df_group_Alphabet) :
    
    before_team_A_rating=df_group_Alphabet.loc[df_group_Alphabet['team_Name']==team_A,'rating'].values
    before_team_B_rating=df_group_Alphabet.loc[df_group_Alphabet['team_Name']==team_B,'rating'].values
    
    df_group_Alphabet.loc[df_group_Alphabet['team_Name']==team_A,'rating'] = int(df_group_Alphabet.loc[df_group_Alphabet['team_Name']==team_A,'rating'].values) + int(24*(1-(win_Rate_A))) # 32 는 k값임
    
    df_group_Alphabet.loc[df_group_Alphabet['team_Name']==team_B,'rating'] = int(df_group_Alphabet.loc[df_group_Alphabet['team_Name']==team_B,'rating'].values) + int(24*(0-(1-win_Rate_A)))  # k = 32,24,16 등 승부가 낫을 때, k값이 클수록 변동이 커짐
    
    print(f"""
    승리한 {team_A} 의 rating :{df_group_Alphabet.loc[df_group_Alphabet['team_Name']==team_A,'rating'].values[0]} (+{df_group_Alphabet.loc[df_group_Alphabet['team_Name']==team_A,'rating'].values[0]-before_team_A_rating[0]})
    패배한 {team_B} 의 rating :{df_group_Alphabet.loc[df_group_Alphabet['team_Name']==team_B,'rating'].values[0]} ({df_group_Alphabet.loc[df_group_Alphabet['team_Name']==team_B,'rating'].values[0]-before_team_B_rating[0]})
    """)   
def run_One_Game(team_A,team_B,rating_A,rating_B,df_group_Alphabet,n):

    win_Rate_A = 1 / (1 + 10**( (rating_B-rating_A) / 400) )
    
    num_Rand = random.random()
    
    print("------------------------------------")
    print(f"""
    {df_group_Alphabet['group_Name'].unique()} 조 {n+1}번째 경기시작
    {team_A} vs {team_B}
    
    {team_A}의 승리 확률 : {win_Rate_A*100}
    {team_B}의 승리 확률 : {(1-win_Rate_A)*100}
    
    {team_A}의 rating : {df_group_Alphabet.loc[df_group_Alphabet['team_Name']==team_A,'rating'].values}
    {team_B}의 rating : {df_group_Alphabet.loc[df_group_Alphabet['team_Name']==team_B,'rating'].values}
    
    난수 : {num_Rand}
    
    """)
    
    if num_Rand <= win_Rate_A:
        print(f"""
        {team_A} (이)가 승리했습니다.
        {team_B} (이)가 패배했습니다.
        """)
        df_group_Alphabet.loc[df_group_Alphabet['team_Name']==team_A,'win'] += 1
        df_group_Alphabet.loc[df_group_Alphabet['team_Name']==team_A,'point'] += 3
        df_group_Alphabet.loc[df_group_Alphabet['team_Name']==team_B,'lose'] += 1
        
        rating_Upd(team_A,team_B,win_Rate_A,df_group_Alphabet)
        
    else :
        print(f"""
        {team_B} (이)가 승리했습니다.
        {team_A} (이)가 패배했습니다.
        """)
        
        df_group_Alphabet.loc[df_group_Alphabet['team_Name']==team_A,'lose'] += 1
        df_group_Alphabet.loc[df_group_Alphabet['team_Name']==team_B,'win'] += 1
        df_group_Alphabet.loc[df_group_Alphabet['team_Name']==team_B,'point'] += 3
        
        rating_Upd(team_B,team_A,1-win_Rate_A,df_group_Alphabet)
    
    
    # run_One_Game 결과 dataFrame으로 출력하기 (수정중)
    
    # series_Run_One_Game_Result = df_group_Alphabet[(df_group_Alphabet['team_Name'] == team_A) | (df_group_Alphabet['team_Name'] == team_B)]['rating']
    # df_Run_One_Game_Result = pd.DataFrame(series_Run_One_Game_Result,columns=['win_Rate'])
    
    # df_Run_One_Game_Result.set_index(keys=[team_A,team_B])
    
    # df[(df['country']=='한국') | (df['country']=='호주')]
    
    # df_Group_A = df[df['group_Name']==all_Group_Name[i]][['group_Name','team_Name','rating']].reset_index(drop=True)
    # print(type(df_Run_One_Game_Result))
    # print(df_Run_One_Game_Result)
    # df[       df['group_Name']==all_Group_Name[i]     ][['group_Name','team_Name','rating']].reset_index(drop=True)
    
    print("------------------------------------")
    

def run_Group_Games(df_group_Alphabet): # df_Group_A 이라는 Datafrme 파라미터로 받음
    
    print("-------------------------------------------------------------------------------")
    print(f"{df_group_Alphabet['group_Name'].unique()} 조 모든 경기 시작") 
    group_Teams = [team_Name for team_Name in df_group_Alphabet['team_Name']] 
    # ['Netherlands', 'Ecuador', 'Senegal', 'Qatar']
    
    group_games = list(combinations(group_Teams, 2)) 
    # [('Netherlands', 'Ecuador'), ('Netherlands', 'Senegal'), ('Netherlands', 'Qatar'), ('Ecuador', 'Senegal'), ('Ecuador', 'Qatar'), ('Senegal', 'Qatar')]
    
    for i in range(len(group_games)):

        run_One_Game(group_games[i][0],
                     group_games[i][1],
                     df_group_Alphabet.loc[df_group_Alphabet['team_Name']==group_games[i][0],'rating'].values,
                     df_group_Alphabet.loc[df_group_Alphabet['team_Name']==group_games[i][1],'rating'].values,
                     df_group_Alphabet,
                     i)
        
    print(f"{df_group_Alphabet['group_Name'].unique()} 조 모든 경기 종료")
    print("-------------------------------------------------------------------------------")

    
def run_All_Group_Games(all_Group_Name):
    print("============================================= 2022 World Cup 조별예선이 시작되었습니다 ============================================= ")
    for i in range(len(all_Group_Name)):
        run_Group_Games(all_Group_Name[i]) # df_Group_A 
    print("=============================================  2022 World Cup 조별예선이 종료되었습니다 ============================================= ")
    
def result_All_Group_Games(all_Group_Df):
    
    df_Result_One_Worldcup = pd.DataFrame(index=['result1'])
    #df_Result_One_Worldcup = pd.DataFrame(columns=[ j for j in i['team_Name'] for i in all_Group_Df] ) # all_Group_Df = [df_Group_A,df_Group_B....]
    
    for i in all_Group_Df:
        for j in i['team_Name']:
            df_Result_One_Worldcup[[j + '_seed1', j + '_seed2']] = [0,0]


    for i in range(len(all_Group_Df)):
        all_Group_Df[i] = all_Group_Df[i].sort_values(by=['point', 'rating'] ,ascending=False)
        all_Group_Df[i] = all_Group_Df[i].reset_index(drop=True)
        all_Group_Df[i].index += 1
        all_Group_Df[i].loc[1,'seed'] = 'seed1'
        all_Group_Df[i].loc[2,'seed'] = 'seed2'
        if all_Group_Df[i].loc[1,'seed'] == 'seed1':
            df_Result_One_Worldcup[all_Group_Df[i].loc[1,'team_Name'] + '_seed1'] = 1
        if all_Group_Df[i].loc[2,'seed'] == 'seed2':
            df_Result_One_Worldcup[all_Group_Df[i].loc[2,'team_Name'] + '_seed2'] = 1
        
        print(f"{all_Group_Df[i]}\n")
    
    #https://wooiljeong.github.io/python/openpyxl-pandas/
#     wb = openpyxl.Workbook()
#     ws = wb.active
#     for r in dataframe_to_rows(df_Result_One_Worldcup, index=False, header=True):
#         ws.append(r)
    
    df_Result_One_Worldcup.to_excel('df_Result_One_Worldcup.xlsx')

def make_All_Groups():
    all_Group_Name = [group_Name for group_Name in df['group_Name'].unique()]
    all_Group_Name.sort() # ['group_A', 'group_B', 'group_C', 'group_D', 'group_E', 'group_F', 'group_G', 'group_H']
    
    all_Group_Df = ['df_Group_'+chr(65+i) for i in range(len(all_Group_Name))]

    for i in range(len(all_Group_Name)) : # i = 0,1,2,3,4,5,6,7                #range(1,int(df['team_Name'].count()/4)+1) :# i = 1,2,3,4,5,6,7,8
    
        all_Group_Df[i] = df[df['group_Name']==all_Group_Name[i]][['group_Name','team_Name','rating']].reset_index(drop=True)
        all_Group_Df[i].index += 1
        all_Group_Df[i][['win','draw','lose','point','seed']] = [0,0,0,0,'-']
        print(f"{all_Group_Df[i]}\n")

    return all_Group_Df

In [4]:
# Main 문

start = time.time()

all_Group_Df = make_All_Groups() # 월드컵 조편성 !
run_All_Group_Games(all_Group_Df) # 월드컵 시작 !
result_All_Group_Games(all_Group_Df) # 월드컵 결과 !

print(f"함수 실행 시간 :{time.time() - start}",)

  group_Name    team_Name  rating  win  draw  lose  point seed
1    group_A  Netherlands    2040    0     0     0      0    -
2    group_A      Ecuador    1833    0     0     0      0    -
3    group_A      Senegal    1687    0     0     0      0    -
4    group_A        Qatar    1680    0     0     0      0    -

  group_Name      team_Name  rating  win  draw  lose  point seed
1    group_B        England    1920    0     0     0      0    -
2    group_B  United States    1798    0     0     0      0    -
3    group_B           Iran    1797    0     0     0      0    -
4    group_B          Wales    1790    0     0     0      0    -

  group_Name     team_Name  rating  win  draw  lose  point seed
1    group_C     Argentina    2143    0     0     0      0    -
2    group_C        Poland    1814    0     0     0      0    -
3    group_C        Mexico    1809    0     0     0      0    -
4    group_C  Saudi Arabia    1635    0     0     0      0    -

  group_Name  team_Name  rating  win  draw  lose  point seed
1    group_D     France    2005    0     0     0      0    -
2    group_D    Denmark    1971    0     0     0      0    -
3    group_D  Australia    1719    0     0     0      0    -
4    group_D    Tunisia    1707    0     0     0      0    -

  group_Name   team_Name  rating  win  draw  lose  point seed
1    group_E       Spain    2045    0     0     0      0    -
2    group_E     Germany    1963    0     0     0      0    -
3    group_E       Japan    1798    0     0     0      0    -
4    group_E  Costa Rica    1743    0     0     0      0    -

  group_Name team_Name  rating  win  draw  lose  point seed
1    group_F   Belgium    2025    0     0     0      0    -
2    group_F   Croatia    1927    0     0     0      0    -
3    group_F    Canada    1765    0     0     0      0    -
4    group_F   Morocco    1753    0     0     0      0    -

  group_Name    team_Name  rating  win  draw  lose  point seed
1    group_G       Brazil    2169    0     0     0      0    -
2    group_G  Switzerland    1929    0     0     0      0    -
3    group_G       Serbia    1892    0     0     0      0    -
4    group_G     Cameroon    1609    0     0     0      0    -

  group_Name    team_Name  rating  win  draw  lose  point seed
1    group_H     Portugal    2004    0     0     0      0    -
2    group_H      Uruguay    1936    0     0     0      0    -
3    group_H  South Korea    1786    0     0     0      0    -
4    group_H        Ghana    1540    0     0     0      0    -

============================================= 2022 World Cup 조별예선이 시작되었습니다 =============================================
-------------------------------------------------------------------------------
['group_A'] 조 모든 경기 시작
------------------------------------

    ['group_A'] 조 1번째 경기시작
    Netherlands vs Ecuador

    Netherlands의 승리 확률 : [76.70249181]
    Ecuador의 승리 확률 : [23.29750819]

    Netherlands의 rating : [2040]
    Ecuador의 rating : [1833]

    난수 : 0.835554651148441



        Ecuador (이)가 승리했습니다.
        Netherlands (이)가 패배했습니다.


    승리한 Ecuador 의 rating :1851 (+18)
    패배한 Netherlands 의 rating :2022 (-18)

------------------------------------
------------------------------------

    ['group_A'] 조 2번째 경기시작
    Netherlands vs Senegal

    Netherlands의 승리 확률 : [87.30738823]
    Senegal의 승리 확률 : [12.69261177]

    Netherlands의 rating : [2022]
    Senegal의 rating : [1687]

    난수 : 0.44545241617996467



        Netherlands (이)가 승리했습니다.
        Senegal (이)가 패배했습니다.


    승리한 Netherlands 의 rating :2025 (+3)
    패배한 Senegal 의 rating :1684 (-3)

------------------------------------
------------------------------------

    ['group_A'] 조 3번째 경기시작
    Netherlands vs Qatar

    Netherlands의 승리 확률 : [87.93171535]
    Qatar의 승리 확률 : [12.06828465]

    Netherlands의 rating : [2025]
    Qatar의 rating : [1680]

    난수 : 0.12453694143835026



        Netherlands (이)가 승리했습니다.
        Qatar (이)가 패배했습니다.


    승리한 Netherlands 의 rating :2027 (+2)
    패배한 Qatar 의 rating :1678 (-2)

------------------------------------
------------------------------------

    ['group_A'] 조 4번째 경기시작
    Ecuador vs Senegal

    Ecuador의 승리 확률 : [72.33878694]
    Senegal의 승리 확률 : [27.66121306]

    Ecuador의 rating : [1851]
    Senegal의 rating : [1684]

    난수 : 0.20166488675039929



        Ecuador (이)가 승리했습니다.
        Senegal (이)가 패배했습니다.


    승리한 Ecuador 의 rating :1857 (+6)
    패배한 Senegal 의 rating :1678 (-6)

------------------------------------
------------------------------------

    ['group_A'] 조 5번째 경기시작
    Ecuador vs Qatar

    Ecuador의 승리 확률 : [73.69947605]
    Qatar의 승리 확률 : [26.30052395]

    Ecuador의 rating : [1857]
    Qatar의 rating : [1678]

    난수 : 0.24648386009748224



        Ecuador (이)가 승리했습니다.
        Qatar (이)가 패배했습니다.


    승리한 Ecuador 의 rating :1863 (+6)
    패배한 Qatar 의 rating :1672 (-6)

------------------------------------
------------------------------------

    ['group_A'] 조 6번째 경기시작
    Senegal vs Qatar

    Senegal의 승리 확률 : [50.86338358]
    Qatar의 승리 확률 : [49.13661642]

    Senegal의 rating : [1678]
    Qatar의 rating : [1672]

    난수 : 0.1501074566425058



        Senegal (이)가 승리했습니다.
        Qatar (이)가 패배했습니다.


    승리한 Senegal 의 rating :1689 (+11)
    패배한 Qatar 의 rating :1661 (-11)

------------------------------------
['group_A'] 조 모든 경기 종료
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
['group_B'] 조 모든 경기 시작
------------------------------------

    ['group_B'] 조 1번째 경기시작
    England vs United States

    England의 승리 확률 : [66.86949563]
    United States의 승리 확률 : [33.13050437]

    England의 rating : [1920]
    United States의 rating : [1798]

    난수 : 0.4696506922450203



        England (이)가 승리했습니다.
        United States (이)가 패배했습니다.


    승리한 England 의 rating :1927 (+7)
    패배한 United States 의 rating :1791 (-7)

------------------------------------
------------------------------------

    ['group_B'] 조 2번째 경기시작
    England vs Iran

    England의 승리 확률 : [67.88169198]
    Iran의 승리 확률 : [32.11830802]

    England의 rating : [1927]
    Iran의 rating : [1797]

    난수 : 0.36099782534069225



        England (이)가 승리했습니다.
        Iran (이)가 패배했습니다.


    승리한 England 의 rating :1934 (+7)
    패배한 Iran 의 rating :1790 (-7)

------------------------------------
------------------------------------

    ['group_B'] 조 3번째 경기시작
    England vs Wales

    England의 승리 확률 : [69.61287704]
    Wales의 승리 확률 : [30.38712296]

    England의 rating : [1934]
    Wales의 rating : [1790]

    난수 : 0.12551039174383338



        England (이)가 승리했습니다.
        Wales (이)가 패배했습니다.


    승리한 England 의 rating :1941 (+7)
    패배한 Wales 의 rating :1783 (-7)

------------------------------------
------------------------------------

    ['group_B'] 조 4번째 경기시작
    United States vs Iran

    United States의 승리 확률 : [50.14391117]
    Iran의 승리 확률 : [49.85608883]

    United States의 rating : [1791]
    Iran의 rating : [1790]

    난수 : 0.7013373435312436



        Iran (이)가 승리했습니다.
        United States (이)가 패배했습니다.


    승리한 Iran 의 rating :1802 (+12)
    패배한 United States 의 rating :1779 (-12)

------------------------------------
------------------------------------

    ['group_B'] 조 5번째 경기시작
    United States vs Wales

    United States의 승리 확률 : [49.42437916]
    Wales의 승리 확률 : [50.57562084]

    United States의 rating : [1779]
    Wales의 rating : [1783]

    난수 : 0.34492784615508076



        United States (이)가 승리했습니다.
        Wales (이)가 패배했습니다.


    승리한 United States 의 rating :1791 (+12)
    패배한 Wales 의 rating :1771 (-12)

------------------------------------
------------------------------------

    ['group_B'] 조 6번째 경기시작
    Iran vs Wales

    Iran의 승리 확률 : [54.44945731]
    Wales의 승리 확률 : [45.55054269]

    Iran의 rating : [1802]
    Wales의 rating : [1771]

    난수 : 0.06653002284900889



        Iran (이)가 승리했습니다.
        Wales (이)가 패배했습니다.


    승리한 Iran 의 rating :1812 (+10)
    패배한 Wales 의 rating :1761 (-10)

------------------------------------
['group_B'] 조 모든 경기 종료
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
['group_C'] 조 모든 경기 시작
------------------------------------

    ['group_C'] 조 1번째 경기시작
    Argentina vs Poland

    Argentina의 승리 확률 : [86.91968655]
    Poland의 승리 확률 : [13.08031345]

    Argentina의 rating : [2143]
    Poland의 rating : [1814]

    난수 : 0.3877162485552065



        Argentina (이)가 승리했습니다.
        Poland (이)가 패배했습니다.


    승리한 Argentina 의 rating :2146 (+3)
    패배한 Poland 의 rating :1811 (-3)

------------------------------------
------------------------------------

    ['group_C'] 조 2번째 경기시작
    Argentina vs Mexico

    Argentina의 승리 확률 : [87.43442268]
    Mexico의 승리 확률 : [12.56557732]

    Argentina의 rating : [2146]
    Mexico의 rating : [1809]

    난수 : 0.20417888276981178



        Argentina (이)가 승리했습니다.
        Mexico (이)가 패배했습니다.


    승리한 Argentina 의 rating :2149 (+3)
    패배한 Mexico 의 rating :1806 (-3)

------------------------------------
------------------------------------

    ['group_C'] 조 3번째 경기시작
    Argentina vs Saudi Arabia

    Argentina의 승리 확률 : [95.06787811]
    Saudi Arabia의 승리 확률 : [4.93212189]

    Argentina의 rating : [2149]
    Saudi Arabia의 rating : [1635]

    난수 : 0.7971265163067828



        Argentina (이)가 승리했습니다.
        Saudi Arabia (이)가 패배했습니다.


    승리한 Argentina 의 rating :2150 (+1)
    패배한 Saudi Arabia 의 rating :1634 (-1)

------------------------------------
------------------------------------

    ['group_C'] 조 4번째 경기시작
    Poland vs Mexico

    Poland의 승리 확률 : [50.71950817]
    Mexico의 승리 확률 : [49.28049183]

    Poland의 rating : [1811]
    Mexico의 rating : [1806]

    난수 : 0.7036279297907428



        Mexico (이)가 승리했습니다.
        Poland (이)가 패배했습니다.


    승리한 Mexico 의 rating :1818 (+12)
    패배한 Poland 의 rating :1799 (-12)

------------------------------------
------------------------------------

    ['group_C'] 조 5번째 경기시작
    Poland vs Saudi Arabia

    Poland의 승리 확률 : [72.10782432]
    Saudi Arabia의 승리 확률 : [27.89217568]

    Poland의 rating : [1799]
    Saudi Arabia의 rating : [1634]

    난수 : 0.28609025796733933



        Poland (이)가 승리했습니다.
        Saudi Arabia (이)가 패배했습니다.


    승리한 Poland 의 rating :1805 (+6)
    패배한 Saudi Arabia 의 rating :1628 (-6)

------------------------------------
------------------------------------

    ['group_C'] 조 6번째 경기시작
    Mexico vs Saudi Arabia

    Mexico의 승리 확률 : [74.90830629]
    Saudi Arabia의 승리 확률 : [25.09169371]

    Mexico의 rating : [1818]
    Saudi Arabia의 rating : [1628]

    난수 : 0.27485401597931025



        Mexico (이)가 승리했습니다.
        Saudi Arabia (이)가 패배했습니다.


    승리한 Mexico 의 rating :1824 (+6)
    패배한 Saudi Arabia 의 rating :1622 (-6)

------------------------------------
['group_C'] 조 모든 경기 종료
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
['group_D'] 조 모든 경기 시작
------------------------------------

    ['group_D'] 조 1번째 경기시작
    France vs Denmark

    France의 승리 확률 : [54.87743359]
    Denmark의 승리 확률 : [45.12256641]

    France의 rating : [2005]
    Denmark의 rating : [1971]

    난수 : 0.07761901917903036



        France (이)가 승리했습니다.
        Denmark (이)가 패배했습니다.


    승리한 France 의 rating :2015 (+10)
    패배한 Denmark 의 rating :1961 (-10)

------------------------------------
------------------------------------

    ['group_D'] 조 2번째 경기시작
    France vs Australia

    France의 승리 확률 : [84.60451004]
    Australia의 승리 확률 : [15.39548996]

    France의 rating : [2015]
    Australia의 rating : [1719]

    난수 : 0.047709121301526825



        France (이)가 승리했습니다.
        Australia (이)가 패배했습니다.


    승리한 France 의 rating :2018 (+3)
    패배한 Australia 의 rating :1716 (-3)

------------------------------------
------------------------------------

    ['group_D'] 조 3번째 경기시작
    France vs Tunisia

    France의 승리 확률 : [85.69591393]
    Tunisia의 승리 확률 : [14.30408607]

    France의 rating : [2018]
    Tunisia의 rating : [1707]

    난수 : 0.3287642761308027



        France (이)가 승리했습니다.
        Tunisia (이)가 패배했습니다.


    승리한 France 의 rating :2021 (+3)
    패배한 Tunisia 의 rating :1704 (-3)

------------------------------------
------------------------------------

    ['group_D'] 조 4번째 경기시작
    Denmark vs Australia

    Denmark의 승리 확률 : [80.38185194]
    Australia의 승리 확률 : [19.61814806]

    Denmark의 rating : [1961]
    Australia의 rating : [1716]

    난수 : 0.23365382523376277



        Denmark (이)가 승리했습니다.
        Australia (이)가 패배했습니다.


    승리한 Denmark 의 rating :1965 (+4)
    패배한 Australia 의 rating :1712 (-4)

------------------------------------
------------------------------------

    ['group_D'] 조 5번째 경기시작
    Denmark vs Tunisia

    Denmark의 승리 확률 : [81.79376311]
    Tunisia의 승리 확률 : [18.20623689]

    Denmark의 rating : [1965]
    Tunisia의 rating : [1704]

    난수 : 0.72814824913383



        Denmark (이)가 승리했습니다.
        Tunisia (이)가 패배했습니다.


    승리한 Denmark 의 rating :1969 (+4)
    패배한 Tunisia 의 rating :1700 (-4)

------------------------------------
------------------------------------

    ['group_D'] 조 6번째 경기시작
    Australia vs Tunisia

    Australia의 승리 확률 : [51.72625244]
    Tunisia의 승리 확률 : [48.27374756]

    Australia의 rating : [1712]
    Tunisia의 rating : [1700]

    난수 : 0.20495372665484424



        Australia (이)가 승리했습니다.
        Tunisia (이)가 패배했습니다.


    승리한 Australia 의 rating :1723 (+11)
    패배한 Tunisia 의 rating :1689 (-11)

------------------------------------
['group_D'] 조 모든 경기 종료
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
['group_E'] 조 모든 경기 시작
------------------------------------

    ['group_E'] 조 1번째 경기시작
    Spain vs Germany

    Spain의 승리 확률 : [61.58641043]
    Germany의 승리 확률 : [38.41358957]

    Spain의 rating : [2045]
    Germany의 rating : [1963]

    난수 : 0.27960382797616223



        Spain (이)가 승리했습니다.
        Germany (이)가 패배했습니다.


    승리한 Spain 의 rating :2054 (+9)
    패배한 Germany 의 rating :1954 (-9)

------------------------------------
------------------------------------

    ['group_E'] 조 2번째 경기시작
    Spain vs Japan

    Spain의 승리 확률 : [81.36122105]
    Japan의 승리 확률 : [18.63877895]

    Spain의 rating : [2054]
    Japan의 rating : [1798]

    난수 : 0.33962110105317433



        Spain (이)가 승리했습니다.
        Japan (이)가 패배했습니다.


    승리한 Spain 의 rating :2058 (+4)
    패배한 Japan 의 rating :1794 (-4)

------------------------------------
------------------------------------

    ['group_E'] 조 3번째 경기시작
    Spain vs Costa Rica

    Spain의 승리 확률 : [85.97585195]
    Costa Rica의 승리 확률 : [14.02414805]

    Spain의 rating : [2058]
    Costa Rica의 rating : [1743]

    난수 : 0.34123158050106717



        Spain (이)가 승리했습니다.
        Costa Rica (이)가 패배했습니다.


    승리한 Spain 의 rating :2061 (+3)
    패배한 Costa Rica 의 rating :1740 (-3)

------------------------------------
------------------------------------

    ['group_E'] 조 4번째 경기시작
    Germany vs Japan

    Germany의 승리 확률 : [71.5252751]
    Japan의 승리 확률 : [28.4747249]

    Germany의 rating : [1954]
    Japan의 rating : [1794]

    난수 : 0.478442324551684



        Germany (이)가 승리했습니다.
        Japan (이)가 패배했습니다.


    승리한 Germany 의 rating :1960 (+6)
    패배한 Japan 의 rating :1788 (-6)

------------------------------------
------------------------------------

    ['group_E'] 조 5번째 경기시작
    Germany vs Costa Rica

    Germany의 승리 확률 : [78.0129604]
    Costa Rica의 승리 확률 : [21.9870396]

    Germany의 rating : [1960]
    Costa Rica의 rating : [1740]

    난수 : 0.3673821122001302



        Germany (이)가 승리했습니다.
        Costa Rica (이)가 패배했습니다.


    승리한 Germany 의 rating :1965 (+5)
    패배한 Costa Rica 의 rating :1735 (-5)

------------------------------------
------------------------------------

    ['group_E'] 조 6번째 경기시작
    Japan vs Costa Rica

    Japan의 승리 확률 : [57.56869524]
    Costa Rica의 승리 확률 : [42.43130476]

    Japan의 rating : [1788]
    Costa Rica의 rating : [1735]

    난수 : 0.5801044833197254



        Costa Rica (이)가 승리했습니다.
        Japan (이)가 패배했습니다.


    승리한 Costa Rica 의 rating :1748 (+13)
    패배한 Japan 의 rating :1775 (-13)

------------------------------------
['group_E'] 조 모든 경기 종료
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
['group_F'] 조 모든 경기 시작
------------------------------------

    ['group_F'] 조 1번째 경기시작
    Belgium vs Croatia

    Belgium의 승리 확률 : [63.74083767]
    Croatia의 승리 확률 : [36.25916233]

    Belgium의 rating : [2025]
    Croatia의 rating : [1927]

    난수 : 0.3887307460617623



        Belgium (이)가 승리했습니다.
        Croatia (이)가 패배했습니다.


    승리한 Belgium 의 rating :2033 (+8)
    패배한 Croatia 의 rating :1919 (-8)

------------------------------------
------------------------------------

    ['group_F'] 조 2번째 경기시작
    Belgium vs Canada

    Belgium의 승리 확률 : [82.38615285]
    Canada의 승리 확률 : [17.61384715]

    Belgium의 rating : [2033]
    Canada의 rating : [1765]

    난수 : 0.6693094481789946



        Belgium (이)가 승리했습니다.
        Canada (이)가 패배했습니다.


    승리한 Belgium 의 rating :2037 (+4)
    패배한 Canada 의 rating :1761 (-4)

------------------------------------
------------------------------------

    ['group_F'] 조 3번째 경기시작
    Belgium vs Morocco

    Belgium의 승리 확률 : [83.6830966]
    Morocco의 승리 확률 : [16.3169034]

    Belgium의 rating : [2037]
    Morocco의 rating : [1753]

    난수 : 0.862862063660693



        Morocco (이)가 승리했습니다.
        Belgium (이)가 패배했습니다.


    승리한 Morocco 의 rating :1773 (+20)
    패배한 Belgium 의 rating :2017 (-20)

------------------------------------
------------------------------------

    ['group_F'] 조 4번째 경기시작
    Croatia vs Canada

    Croatia의 승리 확률 : [71.29021574]
    Canada의 승리 확률 : [28.70978426]

    Croatia의 rating : [1919]
    Canada의 rating : [1761]

    난수 : 0.4708783461532633



        Croatia (이)가 승리했습니다.
        Canada (이)가 패배했습니다.


    승리한 Croatia 의 rating :1925 (+6)
    패배한 Canada 의 rating :1755 (-6)

------------------------------------
------------------------------------

    ['group_F'] 조 5번째 경기시작
    Croatia vs Morocco

    Croatia의 승리 확률 : [70.57813597]
    Morocco의 승리 확률 : [29.42186403]

    Croatia의 rating : [1925]
    Morocco의 rating : [1773]

    난수 : 0.5580259176364428



        Croatia (이)가 승리했습니다.
        Morocco (이)가 패배했습니다.


    승리한 Croatia 의 rating :1932 (+7)
    패배한 Morocco 의 rating :1766 (-7)

------------------------------------
------------------------------------

    ['group_F'] 조 6번째 경기시작
    Canada vs Morocco

    Canada의 승리 확률 : [48.41750147]
    Morocco의 승리 확률 : [51.58249853]

    Canada의 rating : [1755]
    Morocco의 rating : [1766]

    난수 : 0.4996987167183691



        Morocco (이)가 승리했습니다.
        Canada (이)가 패배했습니다.


    승리한 Morocco 의 rating :1777 (+11)
    패배한 Canada 의 rating :1744 (-11)

------------------------------------
['group_F'] 조 모든 경기 종료
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
['group_G'] 조 모든 경기 시작
------------------------------------

    ['group_G'] 조 1번째 경기시작
    Brazil vs Switzerland

    Brazil의 승리 확률 : [79.92399911]
    Switzerland의 승리 확률 : [20.07600089]

    Brazil의 rating : [2169]
    Switzerland의 rating : [1929]

    난수 : 0.6778229710537658



        Brazil (이)가 승리했습니다.
        Switzerland (이)가 패배했습니다.


    승리한 Brazil 의 rating :2173 (+4)
    패배한 Switzerland 의 rating :1925 (-4)

------------------------------------
------------------------------------

    ['group_G'] 조 2번째 경기시작
    Brazil vs Serbia

    Brazil의 승리 확률 : [83.44591817]
    Serbia의 승리 확률 : [16.55408183]

    Brazil의 rating : [2173]
    Serbia의 rating : [1892]

    난수 : 0.4428908087038781



        Brazil (이)가 승리했습니다.
        Serbia (이)가 패배했습니다.


    승리한 Brazil 의 rating :2176 (+3)